---
title: "R: Basic Commands"
navtitle: "R: Basic Commands (NB)"
subtitle: "R Basic Commands & Operators"
description: "Learn R basics."
format:
  html:
    page-layout: full
    title-block-banner: true
---

# Operators

Operators are characters with an assigned meaning in R.

Mathematical 0perators are some of the most basic and will be explored first. 

- Addition
- Subtraction
- Multiplication
- Division
- Exponentiation

In [1]:
2 + 1

[1] 3

In [2]:
2 - 1

[1] 1

In [3]:
2 * 1

[1] 2

In [4]:
2 / 1

[1] 2

In [5]:
2 ** 2

[1] 4

### Multiple Commands

Multiple commands can be executed in a single cell

In [6]:
1 + 1
2 - 1
2 / 2
3 * 3
4 ** 4

[1] 2

[1] 1

[1] 1

[1] 9

[1] 256

## Variable Assignment
Variable assignment is essential in R, as in many programming languages.

It can be helpful to represent objects, data, functions, and more as variables.

These examples show basic usage.

In [7]:
a = 1
b = 2
c = 3
d = 4

No output is generated by assigning a variable.

However, they are now stored in memory and can be referenced.

### Multiple Commands with Variables

In [8]:
a + a
b - a
b / b
c * c
d ** d

[1] 2

[1] 1

[1] 1

[1] 9

[1] 256

Results are identical to the above which just used numbers.

### Updating a variable

Variables are mutable, that is they can be updated/changed. 

We'll also start using `print`, a built-in function which displays the given input. Helpful to see what is happening, since assigning variables does not produce output in the notebook.

In [9]:
print("Checking value of a...")
print(a)
print("Updating value of a...")
a = a + 1
print("Updated value of a...")
print(a)

[1] "Checking value of a..."
[1] 1
[1] "Updating value of a..."
[1] "Updated value of a..."
[1] 2

## Vectors
R uses vectors to store larger amounts of data.

### Creating a Vector

`c`, another built-in function, stands for combine and can be used to create vectors.

In [10]:
vector_1 = c(1, 2, 3, 4)
print(vector_1)

[1] 1 2 3 4

### Single Vector Operations

R makes it easy to do operations on vectors of data.

R has built-in functions for these types of operations.

We'll explore: 
- Sum
- Mean
- Min
- Max

In [11]:
sum(vector_1)
mean(vector_1)
min(vector_1)
max(vector_1)

[1] 10

[1] 2.5

[1] 1

[1] 4

### Vector from variables

In [12]:
vector_2 = c(a, b, c, d)
print(vector_2)

[1] 2 2 3 4

It looks like vector_1 and vector_2 do not match because `a` was modified above.

We will use the `setequal` function to compare them.
This function takes two arguments and will return `TRUE` if they are equal, else `FALSE`.

### Comparing vectors

In [13]:
setequal(vector_1, vector_2)

[1] FALSE

Let's alter vector_2 so that they match.

This step uses indexing to get the desired value from the vector and then assigns it a value of 1.

Remember vectors are mutable. 

### Updating a value in an vector

In [14]:
vector_2[1]=1
print(vector_2)

[1] 1 2 3 4

We can see in the output above that the first item in the vector was set to `1`.

To compare two vectors in R, we again use `setequal`. 

### Comparing vectors

In [15]:
setequal(vector_1, vector_2)

[1] TRUE

Here we can see that the two vectors are equal.

R can perform vector math as well. 

Here we create a third vector by adding vector_1 and vector_2.

### Vector addition

In [16]:
vector_3 = vector_1 + vector_2

Notice, there is no output! This is because we assigned the result into a new variable.

Let's print out vector_3 and see the result.

In [17]:
print(vector_3)

[1] 2 4 6 8

### More vector operations

In [18]:
vector_1 - vector_2
vector_1 * vector_2
vector_1 / vector_2
vector_1 ** vector_2

[1] 0 0 0 0

[1]  1  4  9 16

[1] 1 1 1 1

[1]   1   4  27 256

## Manipulating multiple vectors

### Concatenating vectors

Vectors can be combined to create longer vectors using the `c` command.

In [19]:
vector_4 = c(vector_1, vector_2, vector_3)
print(vector_4)

 [1] 1 2 3 4 1 2 3 4 2 4 6 8

### DataFrames
Multiple vectors can be combined into data frames.

Use the command `rbind` to combine vectors as rows.

In [20]:
df1 = rbind(vector_1, vector_2, vector_3)
print(df1)

         [,1] [,2] [,3] [,4]
vector_1    1    2    3    4
vector_2    1    2    3    4
vector_3    2    4    6    8

Use the command `cbind` to combine vectors as columns.

In [21]:
df2 = cbind(vector_1, vector_2, vector_3)
print(df2)

     vector_1 vector_2 vector_3
[1,]        1        1        2
[2,]        2        2        4
[3,]        3        3        6
[4,]        4        4        8

### Column and row names

Now that the data is in a multidimensional array, colnames and rownames may be assigned. 

We can access those values using `colnames()` and `rownames()`.

In [22]:
colnames(df2)
rownames(df2)

[1] "vector_1" "vector_2" "vector_3"

NULL

Notice, NULL is returned as the row names. This is because they have not been set yet.

To get R to automatically assign row names add the argument `do.NULL=FALSE`.

To learn more about this argument you can run `?rownames`.

In [23]:
colnames(df2)
rownames(df2, do.NULL=FALSE)

[1] "vector_1" "vector_2" "vector_3"

[1] "row1" "row2" "row3" "row4"

It can often be helpful to supply row and column names when creating data frames.

This next chunk shows how to do just that!

In [24]:
colnames(df2) = c("Col1", "Col2", "Col3")
rownames(df2) = c("Row1", "Row2", "Row3", "Row4")

Notice, no output is produced. Lets try printing the data frame to see if our changes worked.

In [25]:
print(df2)
colnames(df2)
rownames(df2)

     Col1 Col2 Col3
Row1    1    1    2
Row2    2    2    4
Row3    3    3    6
Row4    4    4    8

[1] "Col1" "Col2" "Col3"

[1] "Row1" "Row2" "Row3" "Row4"

This concludes the introduction to basic commands in R!